.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../../../assets/header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-middle {
  width: 40%;
  height: 75%;
  font-family: PingFang SC;
  font-weight: bold;
  font-size: 33px;
  color: #ffffff;
  text-align: center;
}

.navbar-left-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 10vw;
  background-image: url('../../../assets/rectangleL.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: PingFang SC;
  font-size: 24px;
}

.navbar-right-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 10vw;
  background-image: url('../../../assets/rectangleR.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: PingFang SC;
  font-size: 24px;
}

.menu {
  color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-selected {
  color: #ffffff;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
